{% extends 'home.html' %}
{% block title %}Sensor{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/style_thermostat.css">
    <script src="../static/res/raphael-2.1.4.min.js" > </script>
    <script src= "../static/res/justgage.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>

    <script type="text/javascript">

        var g1;
        var i=19.00;
        $(document).ready(function () {

            var g1 = new JustGage({
                id: "statusT",
                value:{{ temp }}+'\xB0'+'C',
                min: 0,
                max: 60,
                title: "Temperature",
                decimals: 2,
                titleFontFamily: 'Arial',
                titleFontColor: "black",
                valueFontColor: "black",
                valueFontFamily: "Arial",
                labelFontColor: "black",
                label: 'TEMPERATURE',

                gaugeWidthScale: 0.5,
                stroke: '#1A1A1A',
                symbol: '%',
                pointer: true,
                pointerOptions: {
                    toplength: -20,
                    bottomlength: 50,
                    bottomwidth: 5,
                    color: '#FF0A00',
                    stroke: '#1A1A1A',
                    stroke_width: 3,
                    stroke_linecap: 'round',
                },
                customSectors: [
                    {
                        color: "#00ff00",
                        lo: 0,
                        hi: 25
                    },
                    {
                        color: "#FF8900",
                        lo: 25,
                        hi: 30
                    },
                    {
                        color: "#FF0900",
                        lo: 30,
                        hi: 60
                    }],
            });
            var g2 = new JustGage({
              id: "minT",
              value: {{ temp_min }}+'\xB0'+'C',
              min: 0,
              max: 60,
              title: "Min. Temperature of day",
              decimals: 2,
              titleFontFamily: 'Arial',
              titleFontColor: "black",
              valueFontColor: "black",
              valueFontFamily: "Arial",
              labelFontColor: "black",
              label:'MIN. TEMPERATURE',
              gaugeWidthScale: 0.5,
              stroke: '#1A1A1A',
              symbol: '%',
               pointer: true,
               pointerOptions: {
                 toplength: -20,
                 bottomlength: 30,
                 bottomwidth: 5,
                 color: '#FF0A00',
                 stroke: '#1A1A1A',
                 stroke_width: 3,
                 stroke_linecap: 'round',
               },
               customSectors: [
                    {color : "#00ff00",
                    lo : 0,
                    hi : 25},
                    {color : "#FF8900",
                    lo : 25,
                    hi : 30},
                    {color : "#FF0900",
                    lo : 30,
                    hi : 60}],
              });
             var g3 = new JustGage({
              id: "maxT",
              value: {{ temp_max }}+'\xB0'+'C',
              min: 0,
              max: 60,
              title: "Max. Temperature of day",
              decimals: 2,
              titleFontFamily: 'Arial',
              titleFontColor: "black",
              valueFontColor: "black",
              valueFontFamily: "Arial",
              labelFontColor: "black",
              label:'MAX. TEMPERATURE',
              gaugeWidthScale: 0.5,
              stroke: '#1A1A1A',
              symbol: '%',
               pointer: true,
               pointerOptions: {
                 toplength: -20,
                 bottomlength: 30,
                 bottomwidth: 5,
                 color: '#FF0A00',
                 stroke: '#1A1A1A',
                 stroke_width: 3,
                 stroke_linecap: 'round',
               },
               customSectors: [
                    {color : "#00ff00",
                    lo : 0,
                    hi : 25},
                    {color : "#FF8900",
                    lo : 25,
                    hi : 30},
                    {color : "#FF0900",
                    lo : 30,
                    hi : 60}],
              });
             var g4 = new JustGage({
              id: "status",
              value: {{ hum }}+'\x25',
              min: 0,
              max: 100,
              title: " Humidity",
              decimals: 2,
              titleFontFamily: 'Arial',
              titleFontColor: "black",
              valueFontColor: "black",
              valueFontFamily: "Arial",
              labelFontColor: "black",
              label:'HUMIDITY',
              gaugeWidthScale: 0.5,
              stroke: '#1A1A1A',
              symbol: '%',
               pointer: true,
               pointerOptions: {
                 toplength: -20,
                 bottomlength: 30,
                 bottomwidth: 5,
                 color: '#FF0A00',
                 stroke: '#1A1A1A',
                 stroke_width: 3,
                 stroke_linecap: 'round',
               },
               customSectors: [
                    {color : "#00ff00",
                    lo : 0,
                    hi : 25},
                    {color : "#FF8900",
                    lo : 25,
                    hi : 30},
                    {color : "#FF0900",
                    lo : 30,
                    hi : 60}],
             });
             var g5 = new JustGage({
              id: "min",
              value: {{ hum_min }}+'\x25',
              min: 0,
              max: 100,
              title: "Min. Humidity of day",
              decimals: 2,
              titleFontFamily: 'Arial',
              titleFontColor: "black",
              valueFontColor: "black",
              valueFontFamily: "Arial",
              labelFontColor: "black",
              label:'MIN. HUMIDITY',
              gaugeWidthScale: 0.5,
              stroke: '#1A1A1A',
              symbol: '%',
               pointer: true,
               pointerOptions: {
                 toplength: -20,
                 bottomlength: 30,
                 bottomwidth: 5,
                 color: '#FF0A00',
                 stroke: '#1A1A1A',
                 stroke_width: 3,
                 stroke_linecap: 'round',
               },
               customSectors: [
                    {color : "#00ff00",
                    lo : 0,
                    hi : 40},
                    {color : "#FF8900",
                    lo : 40,
                    hi : 70},
                    {color : "#FF0900",
                    lo : 70,
                    hi : 100}],
          });
          var g6 = new JustGage({
              id: "max",
              value: {{ hum_max }}+'\x25',
              min: 0,
              max: 100,
              title: "Max. Humidity of day",
              decimals: 2,
              titleFontFamily: 'Arial',
              titleFontColor: "black",
              valueFontColor: "black",
              valueFontFamily: "Arial",
              labelFontColor: "black",
              label:'MAX. HUMIDITY',
              gaugeWidthScale: 0.5,
              stroke: '#1A1A1A',
              symbol: '%',
               pointer: true,
               pointerOptions: {
                 toplength: -20,
                 bottomlength: 30,
                 bottomwidth: 5,
                 color: '#FF0A00',
                 stroke: '#1A1A1A',
                 stroke_width: 3,
                 stroke_linecap: 'round',
               },
               customSectors: [
                    {color : "#00ff00",
                    lo : 0,
                    hi : 40},
                    {color : "#FF8900",
                    lo : 40,
                    hi : 70},
                    {color : "#FF0900",
                    lo : 70,
                    hi : 100}],
          });
        })

</script>
{% endblock %}

{% block body %}
    <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="forms">Your Sensor Stats</h1>
                {% if error %}
                    <div class="alert alert-dismissible alert-danger">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Attention!</strong>
                        <p class="mb-0">{{ error }} <a href="#" class="alert-link">Se necessario contattare i realizzatori</a>.</p>
                    </div>
                {% endif %}
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('graphic', idSensor=idSensor) }}';
                                    ">Graphic</button>
                </div>

                <div class="Gauges">
                    <div class="justGage" id="min" style="float: left; width: 200px; height:300px;">
                    </div>
                    <div class="justGage" id="status" align="center" style="float: left; width: 300px; height:300px; ">
                    </div>
                    <div class="justGage" id="max" style="float: left; width: 200px; height:300px;"></div>
                    <div class="GaugesTemp">
                        <div class="justGage" id="minT" style=" float: left; width: 200px; height:300px;"></div>
                        <div class="justGage" id="statusT" align="center" style="float: left; width: 300px; height:300px; ">
                        </div>
                        <div class="justGage" id="maxT" style="float: left; width: 200px; height:300px;"></div>
                     </div>
                </div>
            </div>
          </div>
        </div>
    </div>

        <div class="row">


        </div>
{% endblock %}











