{% extends 'home.html' %}
{% block body %}

        <div class="row">
          <div class="col-lg-7">
            <h2 id ="graphics">Your sensor Graphics.</h2>
            <div class="data_option">

                <form action="{{ url_for('graphic',idSensor=idSensor) }}"  method="post">
                    <fieldset>
                         <label for="temperature">Temperature: </label>
                         <input type="radio" name="option" id="temperature" value="temperature" checked>
                         <label for="humidity">Humidity: </label>
                         <input type="radio" name="option" id="humidity" value="humidity" >
                         <br>
                    </fieldset>


                     <div class="btn-group" role="group" aria-label="Basic example">

                          <input type="submit" name="date" id="today" class="btn btn-outline-info" value="today">
                          <input type="submit" name="date" id="last_week" class="btn btn-outline-info" value="last week">
                          <input type="submit" name="date" id="last_month" class="btn btn-outline-info" value="last month">
                          <input type="submit" name="date" id="last_year" class="btn btn-outline-info" value="last year">
                     </div>
                </form>
                 </div>
          </div>
        </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">      <!--"col-lg-12">-->
                     <div class="graph_container">
                                <script src="../static/js/Chart.js"></script>
                                <canvas id="myChart" width="400" height="400"></canvas>
                                <script>
                                    var ctx = document.getElementById("myChart").getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: {{ labels | safe }},
                                            datasets: [{
                                                label:'#',
                                                data: {{ data | safe}},
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(255,99,132,1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                </script>
                        </div>
                    </div>


{% endblock %}