<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MyThermostat{% endblock %}</title>

    <meta name="keywords" content="arduino project, thermostat, humidity, temperature"/>
    <meta name="description" content="Thermostat"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min-true.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/customCerulean.min.css" media="screen">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">My Thermostats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="container">
        {% block body %}
        
        <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Home</h1>
            <p class="lead">Your home thermostats kit.</p>
          </div>
        </div>
      </div>

      <!-- Navbar
      ================================================== -->
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="navbars">Sensors</h1>
            </div>

            <div class="bs-component">
              
            </div>

            <div class="bs-component">
              
            </div>

            <div class="bs-component">
              
            </div>

          </div>
        </div>
      </div>


      <!-- Buttons
      ================================================== -->

      <div class="bs-docs-section">
        <div class="page-header">
          <div class="row">
            
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7">

            <p class="bs-component">
                {% for i in sensor%}
                    <button
                            type="button" class="btn btn-secondary" id="{{ i.id }}"
                            onclick="window.location.href='{{ url_for('measurements', idSensor=i.id) }}';
                                    "> {{ i.room }}
                    </button>
                    <form method="post" action="{{ url_for('removeThermostat', idSensor=i.id) }}">
                          <button type="submit">Delete</button>
                    </form>

                {% endfor %}
            </p>
          </div>
          <div class="col-lg-5">
            <p class="bs-component">
                <button
                        type="submit" id="btnAdd" class="btn btn-primary btn-lg btn-block"
                        onclick="window.location.href='{{ url_for('addThermostat') }}';
                                ">New Sensor</button>

            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
  </body>
</html>
